NEXT_PUBLIC_APP_NAME=BuffetHub
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MOBILE_SCHEME=buffethub
NODE_ENV=development

NEXT_PUBLIC_SUPABASE_URL=https://kjfsjqvnfblyrohxbygl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tJU1dkYAttrcX_ZA9ERVaA_iZD1eJM4

EXPO_PUBLIC_SUPABASE_URL=https://kjfsjqvnfblyrohxbygl.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tJU1dkYAttrcX_ZA9ERVaA_iZD1eJM4

EXPO_PUBLIC_WEB_URL=http://localhost:3000
EMAIL_FROM=no-reply@buffethub.com.br